@model UserModel

@{
    ViewData["Title"] = "Kullanıcı Düzenle";
}

<h1>Kullanıcı Düzenle</h1>

<h4>Kullanıcı Bilgileri</h4>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            @*<input type="hidden" asp-for="Id" />*@
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>

        <div class="col-md-4">
            @foreach (var rolename in ViewBag.Roles)
            {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="selectedRoles" value="@rolename" id="@rolename"
                    @(Model.SelectedRoles.Any(i => i == rolename) ? "checked" : "")>
                    <label class="custom-control-label" for="@rolename">@rolename</label>
                    @* Burada SelectedRoles'lerin hepsini tek tek dolaşacaz. Eğer aldığımız eleman ile yukarıdan gönderdiğimiz(Yani ViewBag.Roles içerisindeki rollerden eşleştiği varsa) eşit ise o elemana checked(seçili) özelliğini ekliyoruz.Örneğin kullanıcı veri tabanındaki rollerden 3 tanesini seçiyorsa bu bize SelectedRoles içerisinden gelecek ve gelen bilgiler üzerinden 3 tanesi seçili olacak.*@
                </div>
            }
            <hr>
            <div class="custom-control custom-checkbox">
                @*Kullanıcıya mail göndermeden de onaylama işlemini yapmak için bu div'i ekledik*@
                <input asp-for="EmailConfirmed" type="checkbox" class="custom-control-input">
                <label asp-for="EmailConfirmed" class="custom-control-label"></label>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
