@model NewsListModel

@{
    ViewData["Title"] = "Haberler";
}

<h1>Haberler</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Başlık
            </th>
            <th>
                İçerik
            </th>
            <th>
                Resim
            </th>
            <th>
                Ekleme Tarihi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Haberler)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <img src="/Img/News/@item.Image" alt="@item.Name" title="@item.Name" height="50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info">Düzenle</a> |

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
